
/*
 Fichier de complément de ColorPickerDialog.fmxl.
 Permet de travailler la mise en forme du widget et de proposer un design
 moderne (ici on a choisi du flat design).
 */

/* Racine : GridPane */
.root-pane {
    -fx-background-color: #e9e9e9;
    -fx-padding: 12;
    -fx-border-color: #444;
    -fx-border-width: 1.2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 16 0 16 0;
}

/* ColorDisplay à gauche */
#colorDisplay {
    -fx-alignment: center;
    -fx-background-color: #e9e9e9;
    -fx-background-radius: 8;
}

/* Rectangle du ColorDisplay */
#colorDisplay Rectangle {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
    -fx-stroke: #222222;
    -fx-stroke-width: 1;
    -fx-padding: 1;
}

/* Label hexadécimal du ColorDisplay */
#colorDisplay Label {
    -fx-font-family: "Consolas", monospace;
    -fx-font-size: 11pt;
    -fx-text-fill: #333333;
    -fx-padding: 6 0 0 0;
}

/* ColorPicker en haut à droite */
#colorPicker {
    -fx-pref-width: 138px;
    -fx-background-color: white;
    -fx-border-color: #aaaaaa;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 10;
}
.color-picker {
    -fx-color-label-visible: true;
}
.color-picker .label {
    -fx-text-fill: white;
}

/* HBox des boutons */
.hbox {
    -fx-spacing: 14;
    -fx-padding: 10 0 10 0;
}

/* Bouton Cancel */
#cancelButton {
    -fx-background-color: #f8c8c8;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 6 16;
}
#cancelButton:hover {
    -fx-background-color: #d4a1a1;
}

/* Bouton Ok */
#okButton {
    -fx-background-color: #c4e8d3;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 6 16;
}

#okButton:hover {
    -fx-background-color: #a6f4bb;
}